*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}
    
:root {
    --colorDark1: D#112D4E;
    --colorDark2: D#3F72AF;
    --colorLight1:#DBE2EF;
    --colorLight2:#F9F7F7;  
}